header {
  height: 90px;
  width: 100%;
  background-color: var(--grey-1);
  box-shadow:  0px 3px 5px 0px rgba(134,142,150,1);
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-main {

  height: 460px;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.div-left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-right {
  height: 100%;
  width: 60%;
  
}

.div-top {
  height: 65%;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
}

.div-bottom {
  height: 30%;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-labels {
  display: flex;
  justify-content: space-between;
}

input , select {

  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  background-color: var(--grey-1);
  border-style: none;
}


.div-value {

  display: flex;
  justify-content: space-between;

}

ul {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  max-height: 460px;
}


li {

  background-color: var(--grey-1);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.list-income {

  border-left: 4px solid var(--color-secondary);

}

.list-outcome {

  border-left: 4px solid var(--grey-2);

}

.trash {

  padding: 6px;
  border-style: none;
  cursor: pointer;
}

.div-li {

 
  display: flex;
  justify-content: space-between;

}




@media (max-width: 900px){

  .div-main {
    flex-direction: column;
  }

  .div-left {
    width: 100%;
  
  }
  .div-top {
    height: 250px;
  }
  form {
    padding: 1rem;
  }

  .div-right {
    width: 100%;
  }

  .input1 {
    width: 100%;
  }
  .input2 {
    width: 3rem;
  }

}